@model P2PLibray.Account.Account

@{
    ViewBag.Title = "Calender";
}

<!-- Event Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content shadow-lg rounded-3">
            <div class="modal-header bg-primary d-flex justify-content-center align-items-center rounded-top p-1">
                <!-- Modal title -->
                <h5 class="modal-title fw-bold text-white mb-0 fs-5"></h5>
                <!-- Close button -->
                <button type="button" class="btn-close btn-close-white position-absolute end-0 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<!-- Calendar container -->
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Calendar placeholder -->
                    <div id="calendar" class="app-fullcalendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calendar script -->
<script src="~/Scripts/Calendar-modal.js"></script>